.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 2%;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}
.navbar ul li {
  text-transform: capitalize;
  font-size: 18px;
  color: black;
  font-weight: 600;
  padding: 12px;
  cursor: pointer;
}
